
.popuptext {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #888888;
    border-radius: 10px;
    color: white;
    font-family:monospace;
    font-size: small;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.error{
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #f96e71;
    border-radius: 10px;
    color: white;
    font-family:monospace;
    font-size: small;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.error > p {
    white-space: pre-line;
}
.progress{
    margin: 40px 10px;
    max-width: 18rem;
    max-height: 20px;
    display: flex;
    font-family:monospace;
    border-radius: 5px;
    background-color: #fff;
}

.progress-state > p{
    white-space: normal;
    text-align: right;
    margin-top: 4px;
    padding-right: 17px;
}

.progress-state {
    width: 65%;
    color: #034303;
    text-align: center;
    border-radius: 5px;
    background-color: #2ad245;
}

.button{
    display: flex;
    padding-top: 10px;
    order: 2;
    justify-content: space-around;
}

.action {
   background-color: #fefbff;
   color: #161817;
   border: #fefbff;
   border-radius: 3px;
   font-family:monospace;
   padding: 1px 20px;
}

.popup{
    padding-bottom: 10px;
}

p {
    text-align: justify;
    order: 2;
}

i {
    font-size: large;
    padding-right: 5px;
}
.icons {
    order: 1;
    display: flex;
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
